APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_SECRET=SomeRandomSecretKeyForCSRF_ChangeThis

# Configuración de Correo (PHPMailer)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=tu_usuario
SMTP_PASS=tu_contraseña
SMTP_FROM_EMAIL=hello@rakuncms.com
SMTP_FROM_NAME="RakunCMS Dev"
